@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap");

:root {
    --Cyan: hsl(180, 66%, 49%);
    --Dark-Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish-Violet: hsl(257, 7%, 63%);
    --Very-Dark-Blue: hsl(255, 11%, 22%);
    --Very-DarkViolet: hsl(260, 8%, 14%);
}
/* reset code starts  */

* {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    list-style: none;
    text-align: center;
    text-decoration: none;
}
body{
    background-color: #F0F1F6;
}
.btn{
    padding: 0.7rem 1rem ;
    border-radius: 2rem 2rem 2rem 2rem;
    transition: all .5s;
}
.btn:hover{
    background-color: var(--Grayish-Violet);
    color:#fff;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
/* reset code ends  */

/* navber start */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}
.logo_sec{
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 15%;
    height: 30%;
    margin-top: 0.1rem;
}
.logo_sec ul{
    display: flex;
}
.reg_sec ul{
    display: flex;
}
.reg_sec .nav_link{
    padding: 0.7rem 1rem ;
    border-radius: 2rem 2rem 2rem 2rem;
    transition: all .5s;
    font-size: 0.9rem;
}
.reg_sec .nav_link:hover{
    background-color: var(--Grayish-Violet);
    color:#fff;

}
.nav_link{
    margin: 0rem 3rem 0rem 0rem;
    color: var(--Grayish-Violet);
    font-weight: bold;
}
.nav_link:hover{
    color: var(--Dark-Violet);
}
.nav_link:active{
    color: var(--Dark-Violet);
}
/* navbar ends */

/* headers */
.header{
    display: flex;
    max-width: 90%;
    margin: auto;
}
.header_text{
    flex: 1;
    text-align: justify;
    margin-top: 3rem;
}
.header_title{
    font-size: 4rem;
    text-align: justify;
    line-height: 4rem;
    margin-bottom: 0rem;
    color: var(--Very-Dark-Blue);
}
.header_prag{
    text-align: justify;
color: var(--Grayish-Violet);
}
.get{
    background-color: var(--Dark-Violet);
    color: #fff;
    font-size: bolder;
}
.header_img{
    flex: 1;
    margin-top: 3rem;
}
.header_img img{
    max-width: 100%;
}
/* header ends */

/* url input starts */
.url_section{
    margin: 5rem 0rem;
}
.main_url_input{
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    max-width: 80%;
    min-height: 30vh;
    margin: auto;
    background-color: var(--Very-DarkViolet);
    background-image: url("images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
}
.input{
    width: 100%;
    margin: auto;
}
.input input{
    width: 80%;
    align-items: center;
    text-align: justify;
    padding: 1rem;
    outline: none;
    border:none ;
    border-radius: 1rem;
    color: var(--Grayish-Violet);
    font-weight: bold;
    opacity: .8;
}
.url_buttons{
    margin: auto;
min-width: 20%;
}
.url_btn{
    color: #fff;
    background: var(--Grayish-Violet);
    padding: 1rem 2rem;
    border-radius: 1rem;
}
/* urls ends here */
/* statices */
.static_Section{
    max-width: 90%;
    margin: auto;
}

.static_container{
    margin-top: 10rem;
}
.static_container h1{
    font-size: 3rem;
    line-height: 1rem;
    text-align: center;
    font-weight: bolder;
}
.static_container p{
    text-align: center;
    font-size: 1rem;
}
.anlytics{
    display: flex;
    gap: 1rem;
}
.item1{
    flex: 1;
    text-align: justify;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.6rem;
    position: relative;
    top: 3rem;
}
.item1 img{
    position: absolute;
    top: -40px;
    margin-left: 1rem;
    background-color: var(--Very-Dark-Blue);
    padding: 1rem;
    border-radius: 50%;

}
.item1 h2 {
    text-align: left;
    color: var(--Very-Dark-Blue);
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem;
}
.item1 p{
    text-align: justify;
    color: var(--Grayish-Violet);
    font-size: 0.9rem;
    margin: 1rem;
}
.item2{
    flex: 1;
    text-align: justify;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.6rem;
    position: relative;
    top: 6rem;
}
.item2 img{
    position: absolute;
    top: -40px;
    margin-left: 1rem;
    background-color: var(--Very-Dark-Blue);
    padding: 1rem;
    border-radius: 50%;

}
.item2 h2 {
    text-align: left;
    color: var(--Very-Dark-Blue);
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem;
}
.item2 p{
    text-align: justify;
    color: var(--Grayish-Violet);
    font-size: 0.9rem;
}
.item3{
    flex: 1;
    text-align: justify;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.6rem;
    position: relative;
    top: 10rem;
}
.item3 img{
    position: absolute;
    top: -50px;
    margin-left: 1rem;
    background-color: var(--Very-Dark-Blue);
    padding: 1rem;
    border-radius: 50%;

}
.item3 h2 {
    text-align: left;
    color: var(--Very-Dark-Blue);
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 1rem;
}
.item3 p{
    text-align: justify;
    color: var(--Grayish-Violet);
    font-size: 0.9rem;
    margin: 1rem;
}
/* static ends */
/* booster */
.booster{
    margin-top: 17rem;
    min-height: 13rem;
    min-width: 100%;
    background-color: var(--Very-Dark-Blue);
    background-image: url(images/bg-boost-desktop.svg);
background-repeat: no-repeat;
background-size: cover;
}
.booster_container{
    position: relative;
    top: 60px; 
    left: 0;
    line-height: 3rem;
}
.booster_container h1{
color: #fff;
font-size: 2rem;
font-weight: bolder;

}
/* booster */
/* footer  */
footer{
    background: #232027;
    color: #fff;
    min-height: 25vw;
}
.footer{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}
.footer h5{
    margin-top: 4rem;
}
.footer .logo h1{
    color: #fff;
    font-size: 2rem;
    margin-top: 3rem;
}

.footer_list{
    text-align: justify;
}
.footer_link{
    color: var(--Grayish-Violet);
    font-family: "popins";
    line-height: 1.7rem;
}

.sosical_icon {
    position: relative;
    top: 70px;
}
.sosical_icon img{
    margin: 0rem 0rem 0rem 1rem;
}
/* footer */
/* nav btn starts here */
#open_btn {
    display: none;
    position: absolute;
    top: 2px;
    right: 30px;
  }
  
  #close_btn {
    display: none;
    position: absolute;
    top: 2px;
    right: 30px;
    color: #fff;
  }
  
  /* nav btn ends here */
/* responsiveness */
@media screen and (max-width:600px) {
    #open_btn{
        display: block;
    }
   nav{
    flex-direction: column;
position: relative;
   }
    .logo_sec {
        display: none;
        position: absolute;
        right: 20px;
        background: var(--Very-Dark-Blue);
        border-bottom: 1px solid gray;
        border-radius: 1rem;
    }
    .logo_sec ul{
        flex-direction: column;
    }
    .nav_link:hover{
        color: #fff;
    }
    .logo_sec li{
        margin-top: 1rem;
    }
    .reg_sec{
        display: none;
        position: absolute;
        top: 170px;
        right: 20px;
    }
    .reg_sec ul{
        flex-direction: column;
    }
    .reg_sec .nav_list{
        margin-bottom: 2rem;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
    }
    .header_text{
        min-width: 100%;
    }
    .header_title{
        font-size: 3rem;
    }
    .header_img img{
    min-width: 100%;
        align-items: center;
    }
    .main_url_input{
        display: flex;
        flex-direction: column;
    }
    .static_container h1{
        line-height: 3rem;
    }
    .anlytics{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 2rem 0;
        align-items: center;
        justify-content: center;
    }
    .footer{
        flex-direction: column;
    }
    .footer h5{
        text-align: left;
    }
    .sosical_icon{
        height: 20vw;
        width: 100%;
        background-color: var(--Very-Dark-Blue);
    }

}
@media screen and (max-width:400px) {
    #open_btn{
        display: block;
    }
   nav{
    flex-direction: column;
position: relative;
   }
    .logo_sec {
        display: none;
        position: absolute;
        right: 20px;
    }
    .logo_sec ul{
        flex-direction: column;
    }
    .logo_sec li{
        margin-top: 1rem;
    }
    .reg_sec{
        display: none;
        position: absolute;
        top: 150px;
        right: 20px;
    }
    .reg_sec ul{
        flex-direction: column;
    }
    .reg_sec .nav_list{
        margin-bottom: 2rem;
    } 
}